/* Mes styles Eval HTML CSS */

/* on va rendre le scroll plus fluide */
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

img:hover {
    transform: scale(1.5);
}

body {
    color: rgb(8, 8, 8);
    background-color: white;
    /* font: 1em "Open Sans", sans-serif; */
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}

.nav-barre {
    justify-content: space-between;
}

.nav-barre ul {
    display: flex;
    list-style: none;
}

.nav-barre ul li a {
    margin: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header h1 {
    margin: 20px 0 0 0;
}

header p {
    margin: 0 0 20px 0;
}

.recherche {
    width: 428px;
    height: 60px;
    border: 1px solid black;
    border-radius: 30px 20px 20px 30px;
}

.recherche i {
    font-size: 30px;
    padding: 0 0 0 20px;
}

.recherche input {
    border: 0;
    width: 200px;
    height: 55px;
    padding: 0 0 0 0;
}

#Btnrecherche {
    width: 170px;
    height: 60px;
    color: white;
    background-color: blue;
    border-radius: 0px 20px 20px 0px;
    font-size: 20px;
}

.filtres {
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.filtres div {
    padding: 20px 0 0 0;
}

.filtres button {
    height: 60px;
    border-radius: 30px 30px 30px 30px;
    padding: 10px 10px 10px 10px;
    margin: 0 10px 0 10px;
    font-size: 20px;
    background-color: white;
    font-weight: bold;
}

.filtres i {
    height: 90px;
    padding: 0 20px 0 0;
    margin: 20px 0 0 0x;
    font-size: 30px;
    color: blue;
}



.photoH {
    width: 290px;
    height: 130px;
    border-radius: 15px 15px 0 0;
    margin: 5px 5px 5px 5px;

}

.photopop {
    width: 190px;
    height: 130px;
    border-radius: 15px 0 0 15px;
    margin: 5px 5px 5px 5px;
}

.hebergements {
    width: 300px;
    height: 230px;
    background-color: white;
    margin: 15px;
    border-radius: 8%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}


.hebergements2 {
    width: 400px;
    height: 140px;
    background-color: white;
    margin: 15px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.wrap {
    flex-wrap: wrap;
}

h2 {
    padding: 0 10px 0 20px;
}

.hebergements em {
    font-weight: bold;
}

.hebergements p {
    margin: 0 0 0 10px;
}

.hebergements h3 {
    margin: 0 0 10px 10px;
}

.hebergements i {
    color: blue;
}

.hebergements2 em {
    font-weight: bold;
}

.hebergements2 p {
    margin: 0 0 0 10px;
}

.hebergements2 h3 {
    margin: 10px 0 10px 10px;
}

.hebergements2 i {
    color: blue;
}

.etoiles {
    margin: 0 0 0 10px;
}

.column {
    flex-direction: column;
}

.iconinfo {
    font-size: 20px;
    padding: 0 0 0 10px;
}

.bloc1 {
    width: 1000px;
    height: 640px;
    background-color: rgb(239, 237, 237);
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}

.afichplus {
color:black;
padding: 0 30px 0 20px;
font-size: 15px;
font-weight: bolder;
margin: 20px 0 0 0;
text-decoration: none;

}
.bloc2 {
    width: 440px;
    height: 640px;
    background-color: rgb(239, 237, 237);
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}



.photoactiviteG {
    width: 280px;
    height: 350px;
    border-radius: 15px 15px 0 0;
    margin: 5px 5px 5px 5px;
}

.photoA1 {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 290px;
    height: 400px;
    margin: 5px 10px 5px 10px;
}

.photoA2 {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 290px;
    height: 190px;
    margin: 10px 10px 5px 10px;
}

.photoA1 p {
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}

.photoactiviteP {
    width: 280px;
    height: 140px;
    border-radius: 15px 15px 0 0;
    margin: 5px 5px 5px 5px;
}

.photoA2 p {
    font-weight: bold;
    margin: 5px 0 0 10px;
}

footer {
    background-color: rgb(239, 237, 237);
}

footer div {
    margin: 0 0 0 70px;
}

footer a {
    text-decoration: none;
    color: black;
}